body {
    background-color:aliceblue;
    color:black;
}
.btn {
    background-color: hsl(204, 73%, 54%);
    font-size: 16px;
    border-radius: 5px;
    padding: 13px 90px;
    color: aliceblue;
    border:hsl(71, 73%, 54%);
    border-bottom-style:unset;
    cursor: pointer;
}